#status
{
    color: green;
}

h1 {
    text-align: center;
    font-size:35px;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

p {
    margin: auto;
}

#start-btn {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.content{
    max-width: 800px;
    margin: auto;
}

.text-content
{
    padding-top: 15px;
    font-size: 25px;
    margin-bottom: 20px;
}

#typing-content {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.status-content
{
    margin: 20px;
    font-size: 25px;
}

.highlight
{
    background-color: yellow;
}

.error
{
    background-color: red;
}

#wpm
{
    font-weight: bold;
    color: green;
    font-size: 30px;
}

